<!DOCTYPE html>
<html class="afterparty" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>afterparty</title>
  </head>
  <body>
    <div class="content" id="row1">
      <div class="center">
        <img src="images/ibiza.png" class="circle">
        <br>
        <br>
        <h1>The Trip</h1>
        <p>
          Ibiza
          <br>
          Balearic Islands
          <br>
          <a href="https://goo.gl/maps/USAqXQVrXQvpDCb48">View Map</a>
          <br>
          <br>
          We're going to Ibiza flying out on Sun, 24 May! If you would like to join, please let us know so that we can coordinate flights, accomodations, and activities as a group.
        </p>
      </div>

    </div>
    <div class="content" id="row2">
      <%  %>
  			<div class="rsvp">
          <p class="new_guest">-</p>
    			<p class="name">Guest name: <%=  %></p>
    			<p class="email">Guest email: <%=  %></p>
    			<p class="attending"><%=  %> is <%=  %> attending</p>
    			<p class="guests_number"><%=  %> is coming with <%=  %></p>
    			<p class="companions"><%=  %></p>
    			<p class="dietary_restrictions">Dietary restrictions: <%=  %></p>
    			<p class="songs">Songs: <%=  %></p>
  			</div>
  		<%  %>

    </div>
  </body>
</html>
