<!DOCTYPE html>
<html class="home" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <div class="content" id="row1">
      <div class="center">
        <img src="images/venue1.png" class="circle">
        <br>
        <br>
        <h1><%= t('.venue') %></h1>
        <p>
          Masía Xamandreu
          <br>
          Carretera Godella - Bétera CV310, Km 4
          <br>
          46110 Godella, Valencia
          <br>
          <a href="https://goo.gl/maps/KgXPebFEz9QeU4kJ8" target="_blank"><%= t('.map') %></a>
        </p>
      </div>
    </div>
    <div class="content" id="row2">
      <div class="center">
        <img src="images/venue2.png" class="circle">
        <br>
        <br>
        <h1><%= t('.schedule') %></h1>
        <p>
          <%= t('.cocktails') %>
          <br>
          <%= t('.dinner') %>
          <br>
          <%= t('.fiesta') %>
          <br>
          <br>
          <%= t('.schedule_content') %>
          <br>
        </p>
      </div>
    </div>
  </body>
</html>
