<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rsvp</title>
  </head>
  <body>
    <h1>this is the rsvp page</h1>
    <br>
    <br>
    <div class="box">
      <h2>RSVP</h2>
        <%= form_for :rsvp, url: rsvp_path do |f| %>
        <div class="inputBox">
          <%= f.text_field :name, :required => true%>
          <label>Name</label>
        </div>
        <div class="inputBox">
          <%= f.text_field :surname, :required => true%><br>
          <label>Surname</label>
        </div>
        <div class="inputBox">
          <%= f.text_field :email, :required => true%><br>
          <label>Email</label>
        </div>
        <div class="inputBox">
          <select-label>Are you attending?</select-label>
          <%= f.select :attending, ['Yes','No'], :required => true%><br><br>
        </div>
        <div class="inputBox">
          <%= f.number_field :guests_number, :required => true%><br>
          <label>Number of guests</label>
        </div>
        <div class="inputBox">
        <select-label>Please, list the guests</select-label>
          <%= f.text_area :companions, :required => true%><br><br>
        </div>
        <div class="inputBox">
          <%= f.text_field :dietary_restrictions, :required => true%><br>
          <label>Any allergies or food restrictions?</label>
        </div>
        <div class="inputBox">
          <%= f.text_field :songs, :required => true%><br>
          <label>Song suggestions for the DJ?</label>
        </div>
        <%= f.submit "Submit" %>
        <% end %>
    </div>
  </body>
</html>
