<!DOCTYPE html>
<html class="rsvp" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rsvp</title>
  </head>
  <body>
    <br>
    <br>
    <div class="box" onsubmit="confirmSubmission()">
      <h2>RSVP</h2>
        <%= form_for :rsvp, url: rsvp_path do |f| %>
        <div class="inputBox">
          <%= f.text_field :name, :required => true%>
          <label><%= t('.name') %></label>
        </div>
        <div class="inputBox">
          <%= f.text_field :email, :required => true%><br>
          <label>Email</label>
        </div>
        <div class="inputBox">
          <select-label><%= t('.attending') %></select-label>
          <%= f.select :attending, [t('.yes'),'No'], :required => true%><br><br>
        </div>
        <div class="inputBox">
          <%= f.text_field :guests_number, :required => true%><br>
          <label><%= t('.guests_number') %></label>
        </div>
        <div class="inputBox">
        <select-label><%= t('.companions') %></select-label>
          <%= f.text_area :companions, :required => true%><br><br>
        </div>
        <div class="inputBox">
          <%= f.text_field :dietary_restrictions, :required => true%><br>
          <label><%= t('.dietary_restrictions') %></label>
        </div>
        <div class="inputBox">
        <select-label><%= t('.songs') %></select-label>
          <%= f.text_area :songs, :required => false%><br>
        </div>
        <br>
        <%= f.submit t('.submit') %>
        <% end %>
    </div>
    <script>
      function confirmSubmission() {
        alert("The form was submitted");
      }
    </script>
  </body>
</html>
