<!DOCTYPE html>
<html class="index" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rsvp_index</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <% @rsvps.each do |rsvp| %>
      <div class="box">
        <h5>
  			   <p class="name">Guest name: <%= rsvp.name %></p>
  			   <p class="email">Guest email: <%= rsvp.email %></p>
  			   <p class="attending"><%= rsvp.name %> is <%= rsvp.attending %> attending</p>
  			   <p class="guests_number"><%= rsvp.name %> is coming with <%= rsvp.guests_number %></p>
  			   <p class="companions"><%= rsvp.companions %></p>
  			   <p class="dietary_restrictions">Dietary restrictions: <%= rsvp.dietary_restrictions %></p>
  			   <p class="songs">Songs: <%= rsvp.songs %></p>
        </h5>
			</div>
		<% end %>
    <div class="box">
      <h5>
  		    <p class="name">Responses: <% @rsvps.count %></p>
      </h5>
  </body>
</html>
