<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rsvp</title>
  </head>
  <body>
    <h1>this is the rsvp page</h1>
    <% @rsvps.each do |rsvp| %>
			<div class="rsvp">
        <p class="new_guest">-</p>
  			<p class="name">Guest name: <%= rsvp.name %></p>
  			<p class="surname">Guest surname: <%= rsvp.surname %></p>
  			<p class="email">Guest email: <%= rsvp.email %></p>
  			<p class="attending"><%= rsvp.name %> is <%= rsvp.attending %> attending</p>
  			<p class="guests_number"><%= rsvp.name %> is coming with <%= rsvp.guests_number %></p>
  			<p class="companions"><%= rsvp.companions %></p>
  			<p class="dietary_restrictions">Dietary restrictions: <%= rsvp.dietary_restrictions %></p>
  			<p class="other_dietary_restrictions"><%= rsvp.other_dietary_restrictions %></p>
  			<p class="songs">Songs: <%= rsvp.songs %></p>
			</div>
		<% end %>
  </body>
</html>
